.Application {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  font-size: 1rem;
  .Application-header {
    text-align: center;
    width: 100%;
  }
  .Application-body {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .Application-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
